html
  head
    title aw-watcher-input visualization
    style
      | th { text-align: left; }
  body
    p#status

    table
      tr
        th Keyboard
      tr
        td Presses
        td#presses
      tr
        td &nbsp;
      tr
        th Mouse
      tr
        td Clicks
        td#clicks

    script(src="bundle.js")
